<div class="container text-center" id="registerTitle">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2>Sign up</h2>
      <hr>
      <div class="form-control">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field" id="registerText">
          <strong><%= f.label :email %></strong><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <br>
        <div class="field" id="registerText">
          <strong><%= f.label :password %></strong><br>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <br>
        <div class="field" id="registerText">
          <strong><%= f.label :password_confirmation %></strong><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up", class:"btn btn-primary" %>
        </div>
        <% end %>
        <br>
        <div id="registerText">
          <%= render "devise/shared/links" %>
        </div>
      </div> <!--form-control-->
    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->
