<div class="form-group">
  <div class='container'><div class='row'>
    <div class="col-md-10 offset-md-1 text-center">
      <h1 class="section-heading makeWalk" style="font-family:'Rock Salt', cursive;">New Path!</h1>
      <hr class="primary">
      </br>
      <button id='currentLocation' class="btn btn-primary btn-xl sr-button">Use Current Location</button>
      </br>
    </div>
  </div>
</br>
</div>
<%= form_for(walk) do |f| %>
  <% if walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(walk.errors.count, "error") %> prohibited this walk from being saved:</h2>

      <ul>
      <% walk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
  
<div class="form-group">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="field">
            <%= f.fields_for :start_location_attributes do |ff| %>
            <%= ff.text_field :address ,  placeholder: "Enter your starting point.", class:"form-control" , id:"start_address" %>
            <%= ff.text_field :latitude ,  placeholder: "Enter your starting point.", class:"form-control", id:"start_lat", style:"display:none;" %>
            <%= ff.text_field :longitude ,  placeholder: "Enter your starting point.", class:"form-control" , id:"start_long", style:"display:none;" %>
            <% end -%>
        </div>
        </br>
        <div class="field">
          <%= f.fields_for :end_location_attributes do |ff| %>
            <%= ff.text_field :address ,  placeholder: "Enter your end point." , class:"form-control" %>
           <% end -%>
        </div>
        </br>
       </div> <!--container-->
    </div> <!--row-->
    <div class="row">
      <div class="text-center col-md-6">
        <div class="field" data-toggle="tooltip" data-placement="bottom" title="Checking this box displays pedestrian fatalities within your route.">
          <%= f.label :fatalities %>
          <%= f.check_box :fatalities %>
        </div>
      </div>
      <div class="text-center col-md-6">
        <div class="field" data-toggle="tooltip" data-placement="bottom" title="Checking this box displays crime within your route.">
          <%= f.label :crime %>
          <%= f.check_box :crime %>
        </div>
      </div>
    </div> <!--row-->
    </br>
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <div class="actions">
          <%= f.submit "Walk!", class:"btn btn-primary btn-xl sr-button" %>
        </div>
        <br>
        <div id="map" style="height: 500px; width: 500px; margin: auto;"></div>
        <% end %>
      </div>
    </div><!--row-->
  </div> <!--container-->
</div> <!--2nd form-group-->



<script>
$(document).ready(function(){
  var useCurrent = document.getElementById('currentLocation');
  useCurrent.addEventListener('click', function(e){
    $("#start_address").css("display","none");
    $("#currentLocation").text("Using current location");
    console.log('triggered');
    use_current_location();
  });

  function use_current_location() {
  var showLoc = confirm('Would you like for this app to access your current location.');

if (showLoc == true) {
    alert("You have given this app permission to access your current location.");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
    }
    else
    {
       $("#map").html("Geolocation is not supported by this browser/device.");
    }

}
else
{
  $(".hideLocation").html("We respect your wishes and will not display your location.");
}
function success(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    $("#start_lat")[0].value = lat;
    $("#start_long")[0].value = lng;
    console.log($("#start_lat")[0].value);
    displayCurrLoc(lat, lng);//method call

}

function error(){
  console.log("Geo location failed");
}

function displayCurrLoc(lat, lng){

  $('#Lat').html( "Your latitude is: " + lat); //this is a paragraph tag
  $('#Long').html("Your longitude is: " + lng); //this is a paragraph tag
  // var mapCanvas = $("#map");//this is a div called map that should display the map based on the long & lat
  // var mapOptions = { center: new google.maps.LatLng(lat,lng),zoom: 20 ,  mapTypeId: google.maps.MapTypeId.ROADMAP};
  // var map = new google.maps.Map(mapCanvas, mapOptions);
  var mapOptions = {
         zoom: 20,
         center: {lat: lat, lng: lng}
       };
       map = new google.maps.Map(document.getElementById('map'),
           mapOptions);
  }
}

});

</script>
