<!DOCTYPE html>
<html>
  <head>
    <title>Walking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- Custom Fonts -->
   <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
   <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Amita|Raleway:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

    <%= javascript_include_tag 'application' %>

  </head>

  <body data-spy="scroll" data-target="#mainNav">

    <div class="header clearfix">
      <nav id="mainNav" class="navbar navbar-toggleable-md navbar-default fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "Start Side-Walkin'!", root_path, class:"navbar-brand" %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                 <%= link_to "Home", root_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                 <%= link_to "New Walk", new_walk_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                 <%= link_to "My Walks", walks_path, class:"nav-link"%>
              </li>
            <% else %>
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#getStarted">Get Started</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav pull-right">
            <% if user_signed_in? %>
              <li class="nav-item">
                 <%= link_to "Log out", destroy_user_session_path, method: :delete,  class:"nav-link"%>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Register", new_user_registration_path,  class:"nav-link"%>
              </li>
              <li class="nav-item">
               <%= link_to "Log in", new_user_session_path,  class:"nav-link"%>
              </li>
            <% end %>
          </ul>

        </div>
      </nav>
  </div>

    <%= alerts %>
    <%= yield %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5xQYBkfGUCndDrVrcUEgMw6ldd5puQ_0&services=geocoding&libraries=places,visualization">
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <footer class="footer">
        <p>&copy; 2016 WomenWhoCode Bad-Assery-Team, Inc.</p>
      </footer>

  </body>
</html>
